* {
    padding: 0;
    margin: 0;
}

/* Custom additions below: */

:root, * {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}
$primaryColor: #202733;
$secondaryColor: #313a48;
$textColor: #cee3e9;
$greenColor: #53ffaa;

body {
    display: grid;
    place-items: center;
    background: $primaryColor;
    min-height: 100vh;
    padding: 1.6rem;
    font-family: 'Manrope', sans-serif;
}
.container {
    font-family: "Manrope", sans-serif;
    width: 100%;
    max-width: 54rem;
    display: grid;
    grid: max-content 3.2rem / 1fr;
}
.wrapper {
    background: $secondaryColor;
    padding: 4rem 2.4rem 6.4rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 1.5rem;
    @media all and (min-width: 768px) {
        padding: 4.8rem 4.8rem 7.2rem;
    }
    .advice-number {
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 1.5rem;
        letter-spacing: 0.345714rem;
        color: $greenColor;
        @media all and (min-width: 768px) {
            letter-spacing: 0.408571rem;
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }
    .advice-qoute {
        color: $textColor;
        font-size: 2.8rem;
        font-weight: 700;
    }
}




